body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333; /* Dark text color for better visibility */
  line-height: 1.6;
  font-size: 18px;
}

header {
  background-color: #333;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #bbb 1px solid;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

nav ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

nav li {
  display: inline;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: #7fb153;
  font-size: 1.2em;
}


.container {
  padding: 15px;
  text-align: center;
}

.footer {
  padding: 20px 0;
  background-color: #333;
  color: #ffffff; /* White text color for footer */
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 1em;
}
